:root{
    --sand: #d5d0bc;
    --lightgreen: #dde5b6;
    --lawngreen: #adc178;
    --lightbrown: #a98467;
    --soilbrown: #6c584c;
}

body{
    background-color: var(--sand);
}

.primarycolor{
    color: var(--lawngreen);
}

.primarybackgroundcolor{
    background-color: var(--lawngreen);
}

.primarycolorlight{
    color: var(--lightgreen);
}

.primarybackgroundcolorlight{
    background-color: var(--lightgreen);
}

.secondarycolor{
    color: var(--soilbrown);
}

.secondarybackgroundcolor{
    background-color: var(--soilbrown);
}


.secondarycolorlight{
    color: var(--lightbrown);
}

.secondarybackgroundcolorlight{
    background-color: var(--lightbrown);
}

