.centered {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -20%);
}

.textshadow{
  text-shadow: 2px 2px var(--color9);
}

.uniform-width{
  width: 100%;
}

body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("../images/close-up-american-flag.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  filter:grayscale(100%)
}

